<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>球団詳細</title>
</head>
<body>
<strong>球団名</strong>
<div th:text="${team.teamName}">読売ジャイアンツ</div>
<strong>本拠地</strong>
<div th:text="${team.headquarters}">東京ドーム（東京都・文京区）</div>
<strong>発足</strong>
<div th:text="${team.inauguration}">読売ジャイアンツ</div>
<strong>歴史</strong>
<div th:text="${team.history}" style="white-space: pre-wrap">読売ジャイアンツ</div>
<a th:href="@{/team/show-list}">
    <button type="button">戻る</button>
</a>
</body>
</html>